<form [formGroup]="repositoriesFilterGroup" (ngSubmit)="filterRepository()">
  <label>
    Name
    <input
      formControlName="name"
      placeholder="Search by name"
      type="text"
      name="name"
      id="name"
    />
  </label>
  <label>
    Language
    <input
      formControlName="language"
      placeholder="Search by language"
      type="text"
      name="language"
      id="language"
    />
  </label>
  <label>
    Minimal star amount
    <input
      formControlName="stars"
      type="number"
      min="0"
      id="stars"
      name="stars"
      placeholder="minimum of star"
    />
  </label>
  <button type="submit">Filter Repository</button>
</form>

<hr />
<form [formGroup]="issuesFilterGroup" (ngSubmit)="filterIssues()">
  <label>
    Issues Title contains
    <input
      formControlName="issueTitle"
      type="text"
      id="issueTitle"
      name="issueTitle"
      placeholder="text in repository issues"
    />
    <span>This filter will erase your previous filters</span>
  </label>
  <button type="submit">Filter Issues</button>
</form>
